{% extends base_template %}

{% block title %}Listing post queue{% endblock %}

{% block content %}
    <div class="row-fluid">

        <table class="table table-bordered table-striped">
            {% for post in posts %}
                {{ post.status }}<br/>
            {% endfor %}
        </table>

        <div class="navigation">
            {{ posts.render()|raw }}
        </div>

    </div>
{% endblock %}