{% extends base_template %}

{% block title %}Listing providers{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span2 offset5">
            <p>
                Select a provider:
            </p>
            <ul class="nav nav-tabs nav-stacked">
                {% for provider_name in providers %}
                    {% if admin.isGranted('PROVIDER_'~provider_name|upper) %}
                        <li><a href="{{ path('admin_lacus_main_post_provider',{'provider':provider_name}) }}">{{ provider_name|capitalize }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}